/* assigns Margin left and right at 10px to body tags && Margin left and right at 15px to div tags */
@mixin margin {
    margin-left: 10px;
    margin-right: 10px;
}

@mixin mar {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include margin()
}

div {
    @include mar()
}